header {
    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

li {
    list-style: none;
    line-height: 50px;
}

aside {
    width: 150px;
    height: 100%;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-wrapper {
    height: calc(100vh - 57px);

}